.logo_image{
    width: 250px;
    padding: 0px;
    height: 100px;
}
.table-responsive table td,
.table-responsive table th {
  vertical-align: middle;
}

.table-responsive .text-danger {
  color: #c82333 !important;
}